<div id="people">
  <ul>
    <% people.each do |person| %>
      <li>
        <p>
          <%= link_to person.name, person %>
        </p>
        <p> <%= person.birthYear %> <% if person.bce === true %>BCE<% end %></p>
      </li>
    <% end %>
  </ul>
</div>