<div class="personpage">
  <br>
  <h1>Edit <%= @person.name %></h1>

  <%= render "form", person: @person %>

  <br>

  <div>
    <%= link_to "Show this person", @person %> |
    <%= link_to "Back to people", people_path %>
  </div>
</div>
