<p style="color: green"><%= notice %></p>
<div class="personpage">
  <br>
  <%= render @person %>

  <div class="edit">
    <%= link_to "Edit", edit_person_path(@person) %>
    <%= link_to "Main Page", people_path %>

    <%#= button_to "Destroy this person", @person, method: :delete %>
  </div>
</div>
