<p style="color: green"><%= notice %></p>
<div class="personpage">
  <br>
  <%= render @person %>

  <div class="edit">
    <p><%= link_to "Edit", edit_person_path(@person) %></p>
    <p><%= link_to "Main Page", people_path %></p>

    <%#= button_to "Destroy this person", @person, method: :delete %>
  </div>
</div>
