
<div class="all">
  <div class="roy">
    <div class="red stripe"></div>
    <div class="orange stripe"></div>
    <div class="yellow stripe"></div>
  </div>
  <%#= render "people", people: @people %>
  <main>
<h1 class="title">Gay Old Time</h1>
<p class="subtitle">LGBT+ Historical Figures</p>

<div class="subtitle">
  <button><%= link_to "Sort by Name", people_path%></button>
</div>
    <%= render "people", people: @chronological_people%>
<span class="make">
  <%= link_to "New person", new_person_path %>
</span>
  </main>
  <div class="gbp">
    <div class="green stripe"></div>
    <div class="blue stripe"></div>
    <div class="purple stripe"></div>
  </div>

</div>
